/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

:root {
    --color-skill: #fff; 
}

/* Common */
.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 80% !important;
}


.text-center {
    text-align: center !important;
}

.color-white {
    color: var(--color-skill);
}

.char {
    background-color: #f1f1f1;
    border-radius: 16px;
    margin-bottom: 15px;
}

.char-percent {
    background-color: #009688;
    border-radius: 16px;
}

/* main */
#main {
    width: 100%;
}

#content {
    display: flex;
    margin: 16px;
}

/* content left */
#content .left {
    min-height: 300px;
    width: 40%;
    margin-right: 15px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);
}

.img-profile {
    position: relative;
    background: url(/asset/Images/profile.jpg) center top / cover no-repeat;
    padding-top: 104%;
}

.profile-name {
    position: absolute;
    bottom: 0;
    padding: 16px;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    text-transform: capitalize;
}

.profile-name p {
    font-size: 30px;
    color: #fff;
}

.profile-info {
    padding: 0 16px;
}

.profile-info .content {
    margin-top: 15px;
    color: #757575;
}

.profile-info .icon-content {
    margin-right: 16px;
    color: #009688;
}

.about-me {
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

.header-contant {
    margin: 18px 0;
    font-size: 18px;
    font-weight: bold;
    color: #757575;
}

.icon-contant {
    color: #009688;
    margin-right: 16px;
}

.contant-body h2 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.skill-char {
    height: 19px !important;
}

.languages-char {
    height: 24px !important;
}

/* Content right */
#content .right {
    min-height: 500px;
    width: 60%;
}

.work-experience {
    padding: 10px 16px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);
}


.content-right {
    margin-top: 16px;
    font-size: 30px;
}

.contant-right-body {
    padding: 20px 16px;
    border-bottom: 1px solid #ddd;
}

.contant-right-body:last-child {
    border: none;
}

.header-content-right {
    color: #757575;
    font-size: 18px;
}

.date {
    margin: 10px 0;
    color: #009688;
    font-size: 16px;
}

.icon-time {
    margin-right: 16px;
}

.lable-time {
    display: inline-block;
    padding: 3px 6px;
    font-size: 16px;
    color: #fff;
    background-color: #009688;
    border-radius: 4px;
}

.education {
    padding: 10px 16px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);
    margin-top: 17px;
    min-height: 500px;
}

#footer {
    min-height: 126px;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
}

.content-footer {
    text-align: center;
}

p.contant {
    padding: 15px 0;
}

.icon-footer {
    padding: 15px 0;
}

.icon-footer i:hover {
    opacity: 0.6;
}

.author a {
    color: #fff;
}